.career-objectives-text {
  /* margin-left: 100px; */
  width: 35%;
  height: 290px;
  background-color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  color: #000;
  margin: 20px;
  text-align: center;
  margin-top: 10%;
}
.facebook {
  color: #914719;
  font-size: 1500px;
}

.career-objectives-text h5{
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
.career-objectives-text img{
  height: 80px;
  width: 80px;
}