.about-goals {
  width: 35%;
  height: 290px;
  background-color: #f7f7f7;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  color: #000;
  margin: 20px;
  text-align: center;
  margin-top: 5%;
}

.about-goals img {
  height: 80px;
  width: 80px;
}
.about-goals h5{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }