.about{
    /* margin-left: 100px; */
    width: 35%;
    height: 290px;
    background-color: #f7f7f7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000;
    margin: 20px;
    text-align: center;
    margin-top: 10%;
    font-size: 20px;
}

.about img{
    height: 80px;
    width: 80px;
  }

  .about h5{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }