.icon-left {
    position: absolute;
    top: 10px;
    left: 10px;

}

.icon-right{
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.season-display.winter i {
    color: rgb(65, 65, 173);
}

.season-display.summer i {
    color: rgb(194, 41, 41);
}

.season-display{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.winter{
    background-color: aliceblue;
}
.summer {
    background-color: orange;
}